*{
    margin: 0;
    padding: 0;
}
.vid{
   position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#ff4b2b,#ff4b2b);
    }
    video{
        transform: translateY(-10%);
    }
.shad{
    position: absolute;
    width: 100%;
    height: 30px;
    background: #ff4b2b;
    margin-top: 270px;
    }

#loader{
height: 1500px;
width: 1500px;
background-image: linear-gradient(#00c9ff,#92fe9d);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 999;
transition: all 1.5s;
}
#loader h2{
position: absolute;
font-size: 30px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: white;
}

.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 60vh;
background-image: linear-gradient(#ff4b2b,#ff416c);
}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.sampurna{
    background-image: linear-gradient(#ff416c,#ff416c);
    color: white;
}
.container{
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.countdown{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    }

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid #ff416c;
border-radius: 50px;
color: #fff;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -30px;
left: 0;
width: 100%;
height: 25px;
background: #fff000;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}
.countdown div:after{
    content: '';
position: absolute;
top: -3px;
left: -3px;
width: 100%;
height: 100%;
border: 3px solid transparent;
border-top: 3px solid #fff000;
border-right: 3px solid #fff000;
border-left: 3px solid #fff000;
border-radius: 50%;
animation: animateCircle 2s linear infinite;
}
@keyframes animateCircle{
0%{transform: rotate(0deg);
}
100%{transform: rotate(360deg);
}
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.swar{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subh{
    text-align: center;
    margin-bottom: 10px;
}
.map{
    margin-bottom: 10px;
}
.proja{
    text-align: center;
    margin-bottom: 20px;
}
#fontcss{
    margin-left: 10px;
}
.bih{
    text-align: justify;
    text-indent: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}
.danc{
    position: relative;
    width: 100%;
       display: flex;
    align-items: right;
    justify-content: center;
}
.danc img{
    width: 70%;
    height: 100%;  
    margin-left: 10px;  
    margin-bottom: 10px;  
}
.nibe{
    width: 30%;
     margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
    background-color: white;
    color: #ff416c
    }
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
        }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;            
      }


